<launch>
    <param name="robot_description" textfile="$(find frcobot_description)/urdf/fr5v6_single_arm.urdf" />
    <!-- <param name="robot_description"
        command="$(find xacro)/xacro '$(find frcobot_description)/urdf/fr5v6.xacro'" />  -->


    <!-- 定义use_gui参数，默认为false -->
    <arg name="use_gui" default="false" />

    <!-- 根据use_gui参数的值启动不同的joint_state_publisher -->
    <group if="$(arg use_gui)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
            type="joint_state_publisher_gui" />
    </group>
    <group unless="$(arg use_gui)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Show in Rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find frcobot_description)/config/display_rviz.rviz" required="true" />

</launch>