<?xml version="1.0" encoding="utf-8"?>
<robot name="magnetometer_array" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- 
    此文件专门用于工具集成加载系统。
    它会被 tool_loader.xacro 包含。
    tool_loader.xacro 会预先定义 tool_arm_id 属性。
  -->
  <xacro:include filename="$(find zlab_tools_description)/tools/magnetometer_array/urdf/magnetometer_array_macro.xacro"/>
  
  <!-- 实例化 Links，使用机械臂前缀 -->
  <xacro:magnetometer_array_links prefix="${tool_arm_id}_" />
</robot>
