<?xml version="1.0" encoding="utf-8"?>
<robot name="bracket" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find tools_description)/tools/bracket/urdf/bracket_macro.xacro"/>

  <!-- Instantiate Links using tool_arm_id prefix -->
  <xacro:bracket_links prefix="${tool_arm_id}" />
</robot>
