<launch>
  <arg name="robot_ip" default="192.168.31.200"/>
  <arg name="load_robot_description" default="true"/>

  <!-- 1. Load Robot Description (URDF) -->
  <group if="$(arg load_robot_description)">
    <param name="robot_description" command="$(find xacro)/xacro '$(find diana7_description)/urdf/diana7.urdf.xacro'" />
  </group>

  <!-- 2. Load Controller Configs -->
  <!-- This loads 'diana7/...' parameters into the parameter server -->
  <rosparam file="$(find diana7_hardware)/config/diana7_controllers.yaml" command="load"/>

  <!-- 3. Launch Hardware Interface -->
  <!-- We run this in the 'diana7' namespace so it matches the controller config structure -->
  <node name="diana7_hardware" pkg="diana7_hardware" type="diana7_hw_main" output="screen" ns="diana7">
    <param name="ip_address" value="$(arg robot_ip)"/>
    <!-- Explicitly define joints parameter as expected by the C++ code -->
    <rosparam param="joints">
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
      - joint_7
    </rosparam>
  </node>

  <!-- 4. Load Controllers -->
  <!-- Spawner looks in 'diana7' namespace by default if we put it there or use ns arg -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="diana7"
        args="joint_state_controller position_trajectory_controller"/>

  <!-- 5. Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/diana7/joint_states" />
  </node>
  
  <!-- 6. Joint State Relay -->
  <node name="joint_state_relay" pkg="topic_tools" type="relay" args="/diana7/joint_states /joint_states" />

</launch>