<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="robot_ip" default="192.168.31.200"/>
  <arg name="load_robot_description" default="true"/>

  <!-- Load Robot Description -->
  <group if="$(arg load_robot_description)">
    <param name="robot_description" command="$(find xacro)/xacro '$(find diana7_description)/urdf/diana7.urdf.xacro'" />
  </group>

  <!-- Load Controller Config -->
  <rosparam file="$(find diana7_hardware)/config/diana7_controllers.yaml" command="load"/>

  <!-- Start Hardware Interface Node -->
  <node name="diana7_hardware" pkg="diana7_hardware" type="diana7_hw_main" output="screen" ns="diana7">
    <param name="ip_address" value="$(arg robot_ip)"/>
    <rosparam param="joints">
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
      - joint_7
    </rosparam>
    <!-- Remap joint_states if needed, but usually controller publishes it -->
  </node>

  <!-- Load Controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="diana7"
        args="joint_state_controller position_trajectory_controller"/>

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" ns="diana7">
  </node>
  
</launch>
