# 忽略编译输出文件
catkin_ws/build/
catkin_ws/devel/
doc/.~*

*.bag
catkin_ws/data/magnetic_data/*.csv
catkin_ws/data/magnetic_data/*.png
catkin_ws/data/magnetic_data/*/*.csv
catkin_ws/data/magnetic_data/*/*.png
catkin_ws/src/magnetic_localization/script/*
