<?xml version="1.0"?>
<launch>
  <!-- Robot IP addresses -->
  <arg name="arm1_ip" default="192.168.31.201" doc="IP address of arm1"/>
  <arg name="arm2_ip" default="192.168.31.202" doc="IP address of arm2"/>
  
  <!-- Control loop frequency -->
  <arg name="loop_hz" default="60.0" doc="Control loop frequency (Hz)"/>
  
  <!-- Tool parameters -->
  <arg name="arm1_tool" default="none" doc="Tool name for arm1"/>
  <arg name="arm2_tool" default="none" doc="Tool name for arm2"/>
  
  <!-- MoveIt options -->
  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>
  <arg name="use_rviz" default="true" doc="Start RViz"/>
  <arg name="debug" default="false" doc="Debug mode"/>
  
  <!-- Layout configuration -->
  <arg name="layout_config" default="$(find zlab_robots_bringup)/config/robot_layout.yaml" doc="Path to robot layout configuration YAML"/>

  <!-- Arm position parameters (optional, overrides layout_config) -->
  <arg name="arm1_xyz" default="" doc="Position of arm1 (x y z)"/>
  <arg name="arm1_rpy" default="" doc="Orientation of arm1 (roll pitch yaw)"/>
  <arg name="arm2_xyz" default="" doc="Position of arm2 (x y z)"/>
  <arg name="arm2_rpy" default="" doc="Orientation of arm2 (roll pitch yaw)"/>
  
  <!-- Load URDF -->
  <arg name="load_robot_description" default="true"/>
  <param if="$(arg load_robot_description)" name="robot_description"
         command="$(find xacro)/xacro '$(find fr5_description)/urdf/zlab_dual_arms.xacro'
                 layout_config:=$(arg layout_config)
                 arm1_xyz:='$(arg arm1_xyz)' arm1_rpy:='$(arg arm1_rpy)'
                 arm2_xyz:='$(arg arm2_xyz)' arm2_rpy:='$(arg arm2_rpy)'
                 arm1_tool:=$(arg arm1_tool)
                 arm2_tool:=$(arg arm2_tool)"/>

  <!-- Arm1 hardware interface -->
  <include file="$(find fr5_hardware)/launch/fr5_hardware.launch">
    <arg name="arm_id" value="arm1"/>
    <arg name="robot_ip" value="$(arg arm1_ip)"/>
    <arg name="loop_hz" value="$(arg loop_hz)"/>
    <arg name="tool_name" value="$(arg arm1_tool)"/>
    <arg name="load_robot_description" value="false"/>
    <arg name="publish_robot_state" value="false"/>
    <arg name="spawn_joint_state_controller" value="true"/>
  </include>

  <!-- Arm2 hardware interface -->
  <include file="$(find fr5_hardware)/launch/fr5_hardware.launch">
    <arg name="arm_id" value="arm2"/>
    <arg name="robot_ip" value="$(arg arm2_ip)"/>
    <arg name="loop_hz" value="$(arg loop_hz)"/>
    <arg name="tool_name" value="$(arg arm2_tool)"/>
    <arg name="load_robot_description" value="false"/>
    <arg name="publish_robot_state" value="false"/>
    <arg name="spawn_joint_state_controller" value="true"/>
  </include>

  <!-- Robot state publisher (combines both arms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Joint state publisher to merge joint_states from both namespaces -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/arm1/joint_states, /arm2/joint_states]</rosparam>
  </node>
  
  <!-- Launch MoveIt -->
  <include file="$(find fr5_dual_moveit_config)/launch/move_group.launch">
    <arg name="arm1_tool" value="$(arg arm1_tool)"/>
    <arg name="arm2_tool" value="$(arg arm2_tool)"/>
    <arg name="arm1_xyz" value="$(arg arm1_xyz)"/>
    <arg name="arm1_rpy" value="$(arg arm1_rpy)"/>
    <arg name="arm2_xyz" value="$(arg arm2_xyz)"/>
    <arg name="arm2_rpy" value="$(arg arm2_rpy)"/>
    <arg name="moveit_controller_manager" value="simple"/>
    <arg name="load_robot_description" value="false"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="publish_monitored_planning_scene" value="true"/>
  </include>

  <!-- Launch RViz -->
  <include if="$(arg use_rviz)" file="$(find fr5_dual_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find fr5_dual_moveit_config)/launch/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>

