<launch>
    <!-- 定义工具参数 -->
    <arg name="tool_name" default="none" doc="Tool name to use (e.g., permanent_magnet, electronic_magnet, "/>
    
    <!-- 加载机器人描述 -->
    <param name="robot_description"
        command="$(find xacro)/xacro $(find zlab_arm_description)/zlab_arm/urdf/zlab_arm.xacro
                arm_id:=arm1
                tool_name:=$(arg tool_name)"/>
    
    <!-- 定义use_gui参数，默认为true -->
    <arg name="use_gui" default="true" />

    <!-- 根据use_gui参数的值启动不同的joint_state_publisher -->
    <group if="$(arg use_gui)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
            type="joint_state_publisher_gui" />
    </group>
    <group unless="$(arg use_gui)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Show in Rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find zlab_arm_description)/config/display_rviz.rviz" required="true" />

</launch>

