<launch>
    <!-- 定义工具参数 -->
    <arg name="robot1_tool" default="none"/>
    <arg name="robot2_tool" default="none"/>
    
    <!-- 加载机器人描述 -->
    <!-- 注意：双臂配置需要创建 zlab_dual_arms.xacro 文件 -->
    <!-- <param name="robot_description"
        command="$(find xacro)/xacro $(find zlab_arm_description)/urdf/zlab_dual_arms.xacro
                robot1_tool:=$(arg robot1_tool)
                robot2_tool:=$(arg robot2_tool)"/> -->
    <param name="robot_description"
        command="$(find xacro)/xacro $(find zlab_arm_description)/urdf/zlab_arm1.xacro
                tool_name:=$(arg robot1_tool)"/>
    
    <!-- 定义use_gui参数，默认为false -->
    <arg name="use_gui" default="true" />

    <!-- 根据use_gui参数的值启动不同的joint_state_publisher -->
    <group if="$(arg use_gui)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
            type="joint_state_publisher_gui" />
    </group>
    <group unless="$(arg use_gui)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Show in Rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find zlab_arm_description)/config/display_rviz.rviz" required="true" />

</launch>