<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />
  <arg name="robot_ip" default="192.168.31.200"/>

  <!-- Launch hardware interface -->
  <include file="$(find diana7_hardware)/launch/diana7_hardware.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Relay joint states from hardware namespace to global namespace for MoveIt -->
  <node name="joint_state_relay" pkg="topic_tools" type="relay" args="/diana7/joint_states /joint_states" />

  <!-- Launch move_group -->
  <include file="$(find diana7_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- Launch Rviz -->
  <include file="$(find diana7_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find diana7_moveit_config)/launch/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
