<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="magnetic_sensor_bracket" params="prefix parent">
    
    <joint name="${prefix}tool_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}bracket_base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}bracket_base_link">
      <inertial>
        <origin xyz="6.56146448854258E-18 0.000826414697970227 0.0706784267775077" rpy="0 0 0" />
        <mass value="0.0579905724459555" />
        <inertia ixx="0.000211769100600281" ixy="-3.38369218983175E-21" ixz="-3.91554592312132E-21" iyy="0.00020950452248673" iyz="-3.65286260042818E-06" izz="2.30343305370622E-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://zlab_tools_description/tools/magnetic_sensor_bracket/meshes/bracket_base_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://zlab_tools_description/tools/magnetic_sensor_bracket/meshes/bracket_base_link.STL" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}bracket_tcp_link">
      <inertial>
        <origin xyz="0.036673 0.024999 -0.077722" rpy="0 0 0" />
        <mass value="0.0001" />
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
      <!-- TCP link intentionally has no visual/collision geometry to avoid duplicating the tool mesh -->
    </link>

    <joint name="${prefix}bracket_tcp_joint" type="fixed">
      <origin xyz="0 0 0.13" rpy="0 0 0" />
      <parent link="${prefix}bracket_base_link" />
      <child link="${prefix}bracket_tcp_link" />
      <axis xyz="0 0 0" />
    </joint>

  </xacro:macro>
</robot>