<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="calibration_tool">
  <link
    name="calibration_tool_base_link">
    <inertial>
      <origin
        xyz="-8.60866897343458E-11 -0.0494052577648267 0.00249999998599524"
        rpy="0 0 0" />
      <mass
        value="0.0318360737147166" />
      <inertia
        ixx="7.93099753729281E-05"
        ixy="3.00159920491007E-15"
        ixz="4.01660599346743E-15"
        iyy="1.01752895936902E-05"
        iyz="6.02639813930279E-15"
        izz="8.29673225420347E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://calibration_tool/meshes/calibration_tool_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://calibration_tool/meshes/calibration_tool_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="calibration_tool_ee_link">
    <inertial>
      <origin
        xyz="7.09945089475636E-11 -0.0494052577648268 -0.00250000001400476"
        rpy="0 0 0" />
      <mass
        value="0.0318360737147166" />
      <inertia
        ixx="7.93099753729281E-05"
        ixy="3.00159876675752E-15"
        ixz="4.01660599346852E-15"
        iyy="1.01752895936902E-05"
        iyz="6.02639736460135E-15"
        izz="8.29673225420347E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://calibration_tool/meshes/calibration_tool_ee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://calibration_tool/meshes/calibration_tool_ee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calibration_tool_ee"
    type="fixed">
    <origin
      xyz="0 0 0.005"
      rpy="0 0 0" />
    <parent
      link="calibration_tool_base_link" />
    <child
      link="calibration_tool_ee_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="calibration_tool_tcp_link">
    <inertial>
      <origin
        xyz="-7.54950102292292E-12 0.0418572069473549 -1.40053933461851E-11"
        rpy="0 0 0" />
      <mass
        value="0.0318360737147166" />
      <inertia
        ixx="7.93099753729281E-05"
        ixy="3.00159898188647E-15"
        ixz="4.01660599346743E-15"
        iyy="1.01752895936902E-05"
        iyz="6.02639813736981E-15"
        izz="8.29673225420347E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://calibration_tool/meshes/calibration_tool_tcp_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://calibration_tool/meshes/calibration_tool_tcp_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calibration_tool_tcp"
    type="fixed">
    <origin
      xyz="0 -0.091262 -0.0025"
      rpy="0 0 0" />
    <parent
      link="calibration_tool_ee_link" />
    <child
      link="calibration_tool_tcp_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>