<?xml version="1.0"?>
<robot name="fr" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 定义参数 -->
    <!-- arm_id: 机械臂ID，可以是 arm1, arm2 等，默认为 arm1 -->
    <xacro:arg name="arm_id" default="arm1" />
    <!-- 定义工具参数 -->
    <xacro:arg name="tool_name" default="none"/>

    <!-- 加载工具库 -->
    <xacro:include filename="$(find zlab_tools_description)/urdf/tools_library.xacro" />

    <!-- 加载机械臂库 -->
    <xacro:include filename="$(find fr5_description)/fr5_description/urdf/fr5_library.xacro" />

    <!-- 添加虚拟根链接 -->
    <link name="world" />

    <!-- 实例化机械臂 -->
    <xacro:fr 
        arm_id="$(arg arm_id)" 
        connected_to="world" 
        xyz="0 0 0" 
        rpy="0 0 0"
        tool_name="none"
        tool_config="{}" />

    <!-- 加载工具 -->
    <xacro:load_tool tool_name="$(arg tool_name)" prefix="$(arg arm_id)_" parent="$(arg arm_id)_ee_link"/>

    <xacro:gazebo-joint joint="$(arg arm_id)_j1" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j2" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j3" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j4" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j5" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j6" />

    <!-- load ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" />
    </gazebo>


</robot>

