<?xml version="1.0"?>
<robot name="fr" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 定义参数 -->
    <!-- arm_id: 机械臂ID，可以是 arm1, arm2 等，默认为 arm1 -->
    <xacro:arg name="arm_id" default="arm1" />
    <!-- 定义工具参数 -->
    <xacro:arg name="tool_name" default="none"/>

    <!-- 加载工具配置 -->
    <!-- 从工具包加载工具配置 -->
    <!-- 如果tool_name为"none"，则不加载工具配置，使用空字典 -->
    <xacro:property name="tool_name_arg" value="$(arg tool_name)"/>
    <xacro:property name="tool_config" value="{}"/>
    
    <!-- 只有当tool_name不为"none"时才加载工具配置 -->
    <xacro:unless value="${tool_name_arg == 'none'}">
        <!-- 从工具包加载工具配置 -->
        <xacro:property name="tool_package_path" 
                        value="$(find fr5_description)/tools/${tool_name_arg}/config/tool.yaml"/>
        <xacro:property name="tool_config" 
                        value="${xacro.load_yaml(tool_package_path)}"/>
    </xacro:unless>

    <!-- 添加虚拟根链接 -->
    <xacro:include filename="$(find fr5_description)/fr/urdf/fr5_library.xacro" />

    <!-- 添加虚拟根链接 -->
    <link name="world" />

    <!-- 实例化机械臂 -->
    <xacro:fr 
        arm_id="$(arg arm_id)" 
        connected_to="world" 
        xyz="0 0 0" 
        rpy="0 0 0"
        tool_name="$(arg tool_name)"
        tool_config="${tool_config}" />

    <xacro:gazebo-joint joint="$(arg arm_id)_j1" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j2" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j3" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j4" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j5" />
    <xacro:gazebo-joint joint="$(arg arm_id)_j6" />

    <!-- load ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" />
    </gazebo>


</robot>

