<launch>

    <arg name="config" default="$(find moveit_servo)/config/single_config.yaml" />


    <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen">
        <rosparam command="load" file="$(arg config)" />
    </node>

    <!-- Stop fr5v6_arm_controller and start joints_position_controller -->
    <node pkg="rosservice" type="rosservice" name="stop_fr5v6_arm_controller"
        args="call /controller_manager/switch_controller '{start_controllers: [], stop_controllers: ['fr5v6_arm_controller'], strictness: 2}'" />
        
    <node pkg="rosservice" type="rosservice" name="start_joints_position_controller"
        args="call /controller_manager/switch_controller '{start_controllers: ['joints_position_controller'], stop_controllers: [], strictness: 2}'" />

</launch>