<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="bracket">
  <!-- Arm ID: 从父xacro文件传递的全局变量tool_arm_id -->
  <!-- 直接使用tool_arm_id作为前缀，避免循环定义 -->
  <!-- Prefix for link names to avoid conflicts in dual arm setup -->
  <xacro:property name="prefix" value="${tool_arm_id}_"/>

  <link name="${prefix}bracket_base_link">
    <inertial>
      <origin xyz="6.56146448854258E-18 0.000826414697970227 0.0706784267775077" rpy="0 0 0" />
      <mass value="0.0579905724459555" />
      <inertia ixx="0.000211769100600281" ixy="-3.38369218983175E-21" ixz="-3.91554592312132E-21" iyy="0.00020950452248673" iyz="-3.65286260042818E-06" izz="2.30343305370622E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zlab_arm_description/tools/magnetic_sensor_bracket/meshes/bracket_base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zlab_arm_description/tools/magnetic_sensor_bracket/meshes/bracket_base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="${prefix}bracket_tcp_link">
    <inertial>
      <origin xyz="0.036673 0.024999 -0.077722" rpy="0 0 0" />
      <mass value="0.057991" />
      <inertia ixx="0.0002095" ixy="0" ixz="3.6529E-06" iyy="0.00021177" iyz="-4.4915E-21" izz="2.3034E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zlab_arm_description/tools/magnetic_sensor_bracket/meshes/bracket_tcp_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zlab_arm_description/tools/magnetic_sensor_bracket/meshes/bracket_tcp_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="${prefix}bracket_tcp_joint" type="fixed">
    <parent link="${prefix}bracket_base_link" />
    <child link="${prefix}bracket_tcp_link" />
    <origin xyz="-0.024999 0.037499 0.1484" rpy="0 0 -1.5708" />
  </joint>
</robot>
