<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="permanent_magnet">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="parent" default="tool0"/>

  <xacro:include filename="$(find tools_description)/tools/permanent_magnet/urdf/permanent_magnet_macro.xacro"/>

  <link name="$(arg parent)"/>

  <xacro:permanent_magnet prefix="$(arg prefix)" parent="$(arg parent)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:permanent_magnet>
</robot>
