<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="magnetometer_array">
  <link
    name="magnetometer_base_link">
    <inertial>
      <origin
        xyz="-2.07166456524356E-07 0.0021604655211999 0.0362476651991424"
        rpy="0 0 0" />
      <mass
        value="0.0332054242847689" />
      <inertia
        ixx="5.63055976294825E-05"
        ixy="5.92198383575024E-12"
        ixz="6.68013595190353E-10"
        iyy="5.96936991935191E-05"
        iyz="-2.03045562894017E-06"
        izz="1.14540668478137E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magnetometer_array/meshes/magnetometer_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magnetometer_array/meshes/magnetometer_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="magnetometer_tcp_link">
    <inertial>
      <origin
        xyz="-1.2355E-05 0.0019209 -0.1507"
        rpy="0 0 0" />
      <mass
        value="0.035468" />
      <inertia
        ixx="7.6653E-05"
        ixy="1.9231E-11"
        ixz="3.8778E-08"
        iyy="8.0393E-05"
        iyz="-2.0188E-06"
        izz="1.1822E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magnetometer_array/meshes/magnetometer_tcp_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magnetometer_array/meshes/magnetometer_tcp_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="magnetometer"
    type="fixed">
    <origin
      xyz="0 0.00023753 0.19309"
      rpy="0 0 0" />
    <parent
      link="magnetometer_base_link" />
    <child
      link="magnetometer_tcp_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>