<launch>
  <arg name="model" default="$(find zlab_arm_description)/tools/tool_template/urdf/tool.urdf.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find zlab_arm_description)/tools/tool_template/tool.rviz"/>

  <!-- 加载机器人描述 -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- 关节状态发布器 -->
  <group if="$(arg gui)">
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  </group>
  <group unless="$(arg gui)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  </group>

  <!-- 机器人状态发布器 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- RViz可视化 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>
