<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diana7">
    <xacro:arg name="diana7_tool" default="none"/>
    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    <group name="diana_arm">
        <xacro:if value="${'$(arg diana7_tool)' == 'none'}">
            <chain base_link="diana7_base_link" tip_link="diana7_ee_link" />
        </xacro:if>
        <xacro:unless value="${'$(arg diana7_tool)' == 'none'}">
            <chain base_link="diana7_base_link" tip_link="diana7_$(arg diana7_tool)_tcp_link" />
        </xacro:unless>
    </group>
    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded' or 'home'-->
    <group_state name="home" group="diana_arm">
        <joint name="diana7_joint_1" value="0" />
        <joint name="diana7_joint_2" value="0" />
        <joint name="diana7_joint_3" value="0" />
        <joint name="diana7_joint_4" value="0" />
        <joint name="diana7_joint_5" value="0" />
        <joint name="diana7_joint_6" value="0" />
        <joint name="diana7_joint_7" value="0" />
    </group_state>
    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint name="virtual_joint" type="fixed" parent_frame="world" child_link="world" />
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="diana7_pedestal_link" link2="diana7_base_link" reason="Adjacent" />
    <disable_collisions link1="diana7_pedestal_link" link2="diana7_pedestal_flange_link" reason="Adjacent" />
    <disable_collisions link1="diana7_pedestal_flange_link" link2="diana7_base_link" reason="Adjacent" />
    <disable_collisions link1="diana7_base_link" link2="diana7_link_1" reason="Adjacent" />
    <disable_collisions link1="diana7_link_1" link2="diana7_link_2" reason="Adjacent" />
    <disable_collisions link1="diana7_link_2" link2="diana7_link_3" reason="Adjacent" />
    <disable_collisions link1="diana7_link_3" link2="diana7_link_4" reason="Adjacent" />
    <disable_collisions link1="diana7_link_4" link2="diana7_link_5" reason="Adjacent" />
    <disable_collisions link1="diana7_link_5" link2="diana7_link_6" reason="Adjacent" />
    <disable_collisions link1="diana7_link_6" link2="diana7_link_7" reason="Adjacent" />

        <!-- Tool Collisions -->
    <xacro:macro name="disable_tool_collisions" params="prefix tool_name last_link ee_link">
        <xacro:unless value="${tool_name == 'none'}">
            <!-- 1. 禁用工具内部组件之间的冲突 (bracket_base_link vs bracket_tcp_link) -->
            <disable_collisions link1="${prefix}_${tool_name}_base_link" link2="${prefix}_${tool_name}_tcp_link" reason="Adjacent"/>

            <!-- 2. 仅禁用工具与机械臂最末端相邻关节的冲突 -->
            <disable_collisions link1="${ee_link}" link2="${prefix}_${tool_name}_base_link" reason="Adjacent"/>
            <disable_collisions link1="${last_link}" link2="${prefix}_${tool_name}_base_link" reason="Adjacent"/>
        </xacro:unless>
    </xacro:macro>

    <xacro:disable_tool_collisions prefix="diana7" tool_name="$(arg diana7_tool)" last_link="diana7_link_7" ee_link="diana7_ee_link"/>

</robot>
