<launch>
<!-- ===================== -->
<!-- 0. triple arm bringup -->
<!-- ===================== -->
<include file="$(find zlab_robots_bringup)/launch/triple_arm/triple_arm_bringup.launch"/>
  <!-- tcp坐标系确定 -->
<node pkg="tf2_ros" type="static_transform_publisher"
      name="diana7_tcp_tf"
      args="0 0 0 0 0 3.1415926 diana7_ee_link diana7_tcp"/>
<node pkg="tf2_ros" type="static_transform_publisher"
      name="arm1_tcp_tf"
      args="0 0 0 -1.5707963 0 0 arm1_ee_link arm1_tcp"/>
<node pkg="tf2_ros" type="static_transform_publisher"
      name="arm2_tcp_tf"
      args="0 0 0 -1.5707963 0 0 arm2_ee_link arm2_tcp"/>

<!-- <node pkg="tf2_ros" type="static_transform_publisher"
      name="world_to_arm1_base"
      args="-0.15638 0.316434 -0.346559
            0.531584 0.111297 0.0920054
            diana7_base_link arm1_pedestal_link"/>
<node pkg="tf2_ros" type="static_transform_publisher"
      name="world_to_arm2_base"
      args="0.630891 0.876312 -0.122431
            0.162028 0.29237 -0.843689
            diana7_base_link arm2_pedestal_link"/> -->

<!-- ===================== -->
<!-- 1. ZED2i Camera -->
<!-- ===================== -->

<include file="$(find zed_wrapper)/launch/zed2i.launch">
</include>
<!-- ===================== -->
<!-- 2. AprilTag Node -->
<!-- ===================== -->
<node pkg="apriltag_ros"
    type="apriltag_ros_continuous_node"
    name="apriltag"
    output="screen">

  <remap from="image_rect" to="/zed2i/zed_node/left_raw/image_raw_color"/>
  <remap from="camera_info" to="/zed2i/zed_node/left_raw/camera_info"/>

  <param name="publish_tf" value="true"/>
  <param name="publish_tag_detections_image" value="true"/>

  <rosparam command="load"
              file="$(find zlab_robots_calibration)/config/apriltag.yaml"/>
</node>

<node pkg="image_view" type="image_view" name="image_tag_view" output="screen">
  <remap from="image" to="/tag_detections_image"/>
</node>


<!-- ===================== -->
<!-- 3. Calibration Node -->
<!-- ===================== -->
<node pkg="zlab_robots_calibration"
      type="calibration_node"
      name="calibration_node"
      output="screen">
      <param name="results_yaml" value="$(find zlab_robots_calibration)/result/calibration_results.yaml"/>

</node>

</launch>
