<?xml version="1.0"?>
<robot name="fr5v6_dual_arms" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 定义参数 -->
    <xacro:arg name="arm_id_1" default="robot1" />
    <xacro:arg name="arm_id_2" default="robot2" />
    <!-- 定义工具参数 -->
    <xacro:arg name="robot1_tool" default="none"/>
    <xacro:arg name="robot2_tool" default="none"/>
    
    <!-- 导入标定参数 -->
    <xacro:property name="calibration_file" value="$(find frcobot_description)/config/dual_arm_calibration.yaml"/>
    <xacro:property name="calib" value="${xacro.load_yaml(calibration_file)}"/>
    <!-- 加载工具配置文件 -->
    <xacro:property name="tools_config" value="$(find frcobot_description)/config/tools.yaml"/>
    <xacro:property name="tools" value="${xacro.load_yaml(tools_config)}"/>
    
    <!-- 获取标定参数 -->
    <xacro:property name="trans_x" value="${calib['left_to_right_transform']['translation']['x']}"/>
    <xacro:property name="trans_y" value="${calib['left_to_right_transform']['translation']['y']}"/>
    <xacro:property name="trans_z" value="${calib['left_to_right_transform']['translation']['z']}"/>
    <xacro:property name="roll" value="${calib['left_to_right_transform']['rpy']['roll']}"/>
    <xacro:property name="pitch" value="${calib['left_to_right_transform']['rpy']['pitch']}"/>
    <xacro:property name="yaw" value="${calib['left_to_right_transform']['rpy']['yaw']}"/>

    <!-- 获取工具配置 -->
    <xacro:property name="robot1_tool_config" value="${tools['tools']['$(arg robot1_tool)']}"/>
    <xacro:property name="robot2_tool_config" value="${tools['tools']['$(arg robot2_tool)']}"/>

    <!-- 添加虚拟根链接 -->
    <xacro:include filename="$(find frcobot_description)/urdf/fr5v6_library.xacro" />

    <!-- 创建世界链接作为唯一根链接 -->
    <link name="world"/>

    <!-- 连接世界链接到左臂基座 -->
    <joint name="world_to_robot1" type="fixed">
        <parent link="world"/>
        <child link="robot1_base0_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- 创建左臂（机器人1） -->
    <xacro:fr5v6_arm 
        arm_id="robot1"
        tool_name="$(arg robot1_tool)"
        tool_config="${robot1_tool_config}"/>

    <!-- 连接左臂到右臂 - 使用标定参数 -->
    <joint name="robot1_to_robot2" type="fixed">
        <parent link="robot1_base0_link"/>
        <child link="robot2_base0_link"/>
        <origin xyz="${trans_x} ${trans_y} ${trans_z}" rpy="${roll} ${pitch} ${yaw}"/>
    </joint>
    
    <!-- 添加机器人2 -->
    <xacro:fr5v6_arm 
        arm_id="robot2"
        tool_name="$(arg robot2_tool)"
        tool_config="${robot2_tool_config}"/>

    <!-- right arm joints control interface -->
    <xacro:gazebo-joint joint="$(arg arm_id_1)_j1" />
    <xacro:gazebo-joint joint="$(arg arm_id_1)_j2" />
    <xacro:gazebo-joint joint="$(arg arm_id_1)_j3" />
    <xacro:gazebo-joint joint="$(arg arm_id_1)_j4" />
    <xacro:gazebo-joint joint="$(arg arm_id_1)_j5" />
    <xacro:gazebo-joint joint="$(arg arm_id_1)_j6" />
    <!-- <xacro:gazebo-joint joint="$(arg arm_id_1)_joint7"
        transmission="hardware_interface/PositionJointInterface" /> -->

    <!-- left arm joints control interface -->
    <xacro:gazebo-joint joint="$(arg arm_id_2)_j1" />
    <xacro:gazebo-joint joint="$(arg arm_id_2)_j2" />
    <xacro:gazebo-joint joint="$(arg arm_id_2)_j3" />
    <xacro:gazebo-joint joint="$(arg arm_id_2)_j4" />
    <xacro:gazebo-joint joint="$(arg arm_id_2)_j5" />
    <xacro:gazebo-joint joint="$(arg arm_id_2)_j6" />
    <!-- <xacro:gazebo-joint joint="$(arg arm_id_2)_joint7"
        transmission="hardware_interface/PositionJointInterface" /> -->

    <!-- right hand joints control interface -->
    <!-- <xacro:gazebo-joint joint="$(arg arm_id_1)_finger_joint1"
        transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id_1)_finger_joint2"
        transmission="hardware_interface/EffortJointInterface" /> -->

    <!-- left hand joints control interface -->
    <!-- <xacro:gazebo-joint joint="$(arg arm_id_2)_finger_joint1"
        transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id_2)_finger_joint2"
        transmission="hardware_interface/EffortJointInterface" /> -->

    <!-- load ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" />
    </gazebo>

</robot>