<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="permanent_magnet">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.45891925355649E-05 0.000974710969544189 0.0547438582198864"
        rpy="0 0 0" />
      <mass
        value="0.135995886319531" />
      <inertia
        ixx="0.000223988389824018"
        ixy="1.69406787033995E-08"
        ixz="-9.64640893593206E-09"
        iyy="0.000188145840465917"
        iyz="1.43755105424183E-05"
        izz="0.000105977351305304" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://frcobot_tools/tools/permanent_magnet/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://frcobot_tools/tools/permanent_magnet/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="tcp_link">
    <inertial>
      <origin
        xyz="-1.4583E-05 0.00097477 -0.026256"
        rpy="0 0 0" />
      <mass
        value="0.136" />
      <inertia
        ixx="0.00026656"
        ixy="7.0025E-08"
        ixz="1.9501E-08"
        iyy="0.00019801"
        iyz="-3.5836E-06"
        izz="0.00013869" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://frcobot_tools/tools/permanent_magnet/meshes/tcp_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://frcobot_tools/tools/permanent_magnet/meshes/tcp_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="permanent_magnet"
    type="fixed">
    <origin
      xyz="0 0 0.081"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="tcp_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>