<launch>
  <!-- Robot IPs -->
  <arg name="diana7_ip" default="192.168.31.200"/>
  <arg name="arm1_ip" default="192.168.31.201"/>
  <arg name="arm2_ip" default="192.168.31.202"/>

  <!-- Tools -->
  <arg name="diana7_tool" default="none"/>
  <arg name="arm1_tool" default="none"/>
  <arg name="arm2_tool" default="none"/>

  <!-- Load Robot Description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find fr5_description)/fr5_description/urdf/zlab_triple_arms.xacro' 
    diana7_tool:=$(arg diana7_tool) 
    arm1_tool:=$(arg arm1_tool) 
    arm2_tool:=$(arg arm2_tool)" />

  <!-- Diana7 Hardware -->
  <group ns="diana7">
    <rosparam file="$(find diana7_hardware)/config/diana7_controllers.yaml" command="load"/>
    <node name="diana7_hardware" pkg="diana7_hardware" type="diana7_hw_main" output="screen">
      <param name="ip_address" value="$(arg diana7_ip)"/>
      <rosparam param="joints">
        - diana7_joint_1
        - diana7_joint_2
        - diana7_joint_3
        - diana7_joint_4
        - diana7_joint_5
        - diana7_joint_6
        - diana7_joint_7
      </rosparam>
    </node>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller position_trajectory_controller"/>
  </group>

  <!-- FR5 Arm1 Hardware -->
  <group ns="arm1">
    <rosparam file="$(find fr5_hardware)/config/fr5_controllers.yaml" command="load"/>
    <node name="fr5_hardware" pkg="fr5_hardware" type="fr5_hw_main" output="screen">
      <param name="robot_ip" value="$(arg arm1_ip)"/>
      <param name="robot_port" value="8080"/>
      <rosparam param="joints">
        - arm1_j1
        - arm1_j2
        - arm1_j3
        - arm1_j4
        - arm1_j5
        - arm1_j6
      </rosparam>
    </node>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller position_trajectory_controller"/>
  </group>

  <!-- FR5 Arm2 Hardware -->
  <group ns="arm2">
    <rosparam file="$(find fr5_hardware)/config/fr5_controllers.yaml" command="load"/>
    <node name="fr5_hardware" pkg="fr5_hardware" type="fr5_hw_main" output="screen">
      <param name="robot_ip" value="$(arg arm2_ip)"/>
      <param name="robot_port" value="8080"/>
      <rosparam param="joints">
        - arm2_j1
        - arm2_j2
        - arm2_j3
        - arm2_j4
        - arm2_j5
        - arm2_j6
      </rosparam>
    </node>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller position_trajectory_controller"/>
  </group>

  <!-- Joint State Relay (Combine all joint states) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/diana7/joint_states, /arm1/joint_states, /arm2/joint_states]</rosparam>
  </node>

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>